<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudsense.icqa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
   
   <permission
        android:name="com.cloudsense.icqa.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.cloudsense.icqa.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        
    <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB3G1I5zR-gkD2FIjw0NQxG_9P8Uptvs7M" />
    
    <meta-data android:name="com.facebook.sdk.ApplicationId" 
        android:value="@string/applicationId" />
        
        <activity
            android:name="com.cloudsense.icqa.Login"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <activity android:name="com.cloudsense.icqa.Feedback"></activity>
        <activity android:name="com.cloudsense.icqa.LoginUsingFacebook"></activity>
        <activity android:name="com.cloudsense.icqa.IndoorMap" ></activity>
        <activity android:name="com.cloudsense.icqa.MainActivity"></activity>
    </application>

</manifest>